.mainBackgroundDiv {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #62626280;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;

}

.mainComponentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 3em;
    min-width: 60vw;
    min-height: 60vh;
    background-color: white;
    border-radius: 10px;
    gap: 1em;

    animation: fadein 0.25s;
}

.modalTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
}

.closeButton {
    position: relative;
    top: 0px;
    right: 0px;
    left: 250px;
    border: 2px solid #EE7517;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}