<style>
    .mainDiv {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .userInfo {
        border-radius: 5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 1em;
        border: 1px solid black;
        background-color: white;
        height: fit-content;
        width: 90%;
    }
</style>

<div class="mainDiv">
    <div *ngFor="let user of users" class="userInfo">
        <p>Name : {{user.name}} </p>
    </div>
</div>